<div class="memorial_container">

	<div class="header_title"><h1>We shall speak their names</h1></div>

	<div class="header_container">

		{{#each images}}

			<span as-tooltip='this.name'><div class="header_image" style="background-image: url({{image}})"></div></span>

		{{/each}}
		
	</div>

	<div class="intro_container">
		Fifty people were killed in the <a href="https://www.theguardian.com/world/2019/mar/15/multiple-fatalities-gunman-christchurch-mosque-shooting">Christchurch mosque shootings</a>  on 15 March. The New Zealand prime minister, Jacinda Ardern, has <a href="https://www.theguardian.com/world/2019/mar/19/new-zealand-shooting-ardern-says-she-will-never-speak-suspects-name">urged the public</a> to speak the names of the victims, but to leave the perpetrator nameless. Below are the names and brief stories of those who have been confirmed dead. The list will be updated as more details are released.  
	</div>

	<div class="share-buttons">

		<div class="social_isolation">

			<button class="interactive-share" data-network="facebook" on-tap="['social', 'facebook']"></button>

			<button class="interactive-share" data-network="twitter" on-tap="['social', 'twitter']"></button>
			
		</div>

	</div>

	<div class="victim_container">

		{{#each victims}}

		<div class="person-row">
			<div class="body-text">
				<input class="read-more-state" id="post-{{index}}" type="checkbox" value="on">
				<div class="read-more-wrap">
					<h1>{{name}}</h1>
					<p>{{quote}}</p>
					<span class="read-more-target"></span>
					<p><span class="read-more-target">{{{text}}}</span></p>
				</div>
				<label class="read-more-trigger" for="post-{{index}}"></label>
			</div>
		</div>

		{{/each}}

	</div>	
</div>